body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;

}

/*text styles*/
header {
  color: #fff;
  margin: o;
}

h1 {
  font-size: 70px
  font-weight:bold;
}

li {
  list-style: none;
  font-size: 18px;
  padding-bottom: 5px;
}

li a {
  color: inherit;
}


/*Background class*/
.background {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
}
