body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

/*text styles*/
header,
h3.background {
  color: #fff;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}



li {
  list-style: none;
  font-size: 18px;
  padding-bottom: 5px;
}

li a {
  color: inherit;
}

/*Background class*/
.background {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  padding: 3px 0;
}

/*Footer styles*/
footer {
  background-color: dimgray;
  color: #fff;
  text-align: left;
  padding: 0 10px;
}

footer p, footer nav, footer nav ul li {
  display: inline-block;
  font-size: 11px;
}

footer nav ul li {
  padding: 0 5px;
  font-size: 11px;
}
